<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/typography.css" />
    <link rel="stylesheet" href="../css/admin-layout.css" />
    <link rel="stylesheet" href="../css/admin-products.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="site">
        <div class="left-side">
            <div class="logo">
                <p>VASD</p>
            </div>
            <div class="navbar">
                <a href="#" class="dashboard">Dashboard</a>
                <a href="#" class="products">Products</a>
                <a href="#" class="customers">Customers</a>
                <a href="#" class="orders">Orders</a>
                <a href="#" class="shipments">Shipments</a>
                <a href="#" class="transactions">Transactions</a>
                <a href="#" class="settings">Settings</a>
                <a href="#" class="logout">Logout</a>
            </div>
        </div>
        <div class="right-side">
            <div class="header">
                <!-- <div class="overview">Overview</div> -->
                <!-- <div class="search-bar">
                  <input type="text" placeholder="Search" />
                  <button>Search</button>
                </div> -->
                <div class="user">
                    <div class="user-image"></div>
                    <!-- <div class="user-name">
                                <h3>John Doe</h3>
                                <p>Admin</p>
                            </div> -->
                </div>
            </div>
            <div class="content">
                @RenderBody()
                @* <table>
                    <div class="query">
                        <div class="display-count">
                            <label for="count">Show</label>
                            <select id="count">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div class="search-query">
                            <input type="text" placeholder="Search" />
                            <button>Search</button>
                        </div>
                        <div class="product-actions">
                            <a class="add-product">+ Add Product</a>
                        </div>
                    </div>
                    <tr class="theader">
                        <th>Quantity</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Sold</th>
                        <th>On Sale</th>
                    </tr>
                    <tr class="item">
                        <td>20</td>
                        <td>Test</td>
                        <td>SomeBrandTest</td>
                        <td>59.26 лв.</td>
                        <td>Fragrance</td>
                        <td>Men</td>
                        <td>162</td>
                        <td>X</td>
                    </tr>
                    <tr class="item">
                        <td>32</td>
                        <td>Idkmann</td>
                        <td>Testingsss</td>
                        <td>22.02 лв.</td>
                        <td>Fragrance</td>
                        <td>Unisex</td>
                        <td>25</td>
                        <td>V</td>
                    </tr>
                </table> *@
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        toastr.options = {
            "preventDuplicates": true,
        };
    </script>
    <script>
        document.getElementById("header-mid-search-icon").onclick = function (e) {
            var input = e.currentTarget.previousElementSibling;
            var minSearchLength = 2;
            var searchText = input.value;

            if (searchText.length < minSearchLength) {
                toastr.warning(`Моля, въведете поне ${minSearchLength} символа`);
                return;
            }

            if (searchText) {
                window.location.href = `/Product/Index?search=${searchText}`;
            }
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
