@{
    ViewData["Title"] = "Home";
}

<div class="grid-cols-4 grid justify-items-center gap-16">
    @foreach (var product in ViewBag.AllProducts)
    {
        <partial name="_HomeIndexCardPartial" model="product" />
    }
</div>