@{
    ViewData["Title"] = "Home";
}

<div class="">
    @* @foreach (var product in ViewBag.AllProducts)
    {
    <partial name="_HomeIndexCardPartial" model="product" />
    } *@
    <div class="flex">
        @foreach (var brand in ViewBag.Brands)
        {
            <div class="flex w-28 items-center border-r border-gray-200 px-3.5 duration-500 last:border-none hover:bg-gray-100">
                <img class="w-full" src="@brand.ImageUrl" />
            </div>
        }
    </div>
</div>