@model ProductHomeViewModel;

@{
    ViewData["Title"] = "Home";
}

<div class="grid grid-cols-4 gap-16 justify-items-center">
    @foreach (var product in Model.AllProducts)
    {
        <partial name="_HomeIndexCardPartial" model="product" />
    }
</div>