@model IEnumerable<ProductCartViewModel>

@{
    ViewData["Title"] = "Cart";
}

<h1>Your cart</h1>
<div id="cart-items-container">
    @foreach(var product in Model)
    {
        <p>@product.Name</p>
        <p>@product.Price</p>
        <p>@product.Quantity</p>
        <p>@product.TotalPrice</p>
    }
</div>