/* #header-top, 
#header-mid, 
#header-mid-options, 
#header-bottom > #header-nav > ul,
#article-clients-sources,
#article-subscribe-form > form,
#article-icons,
#site-footer-top-wrapper,
#site-footer-mid-wrapper {
  display: flex;
} */

#article-subscribe-form > form {
  flex-direction: column;
}

#header-mid-logo-title {
  font-size: 4em;
}

#header-top {
  display: flex;
  /* gap: 2em; */
  justify-content: space-between;
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: pink;
}

body {
  padding: 2em 10em;
}

#site {
  max-width: 1200px;
  margin: 0 auto;
}

#header-mid {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: lightblue;
}

#header-mid-search {
  align-self: center;
  /* display: flex;
  flex-direction: column; */
  /* margin: 0 auto; */
}

#header-mid-search > input {
  /* width: 100%; */
  padding: 0.5em 1em;
  border-radius: 3em;
  border-style: solid;
}

#header-mid-search > button {
  /* text-align: center; */
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 3em;
}

#header-mid-options {
  display: flex;
  gap: 1em;
  align-self: center;
}

#header-mid-logo {
  /* font-size: 2em; */
  align-self: center;
}

#header-bottom {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: lightgreen;
}

#header-nav > ul {
  display: flex;
  gap: 3em;
  align-self: center;
}

#article-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 0.7em 2.5em 0.7em 2.5em; */
  background-color: lightcoral;
}

#article-clients-sources {
  display: flex;
  gap: 5em;
  /* align-items: center; */
  justify-content: center;
  /* padding: 0.7em 2.5em 0.7em 2.5em; */
  background-color: lightcoral;
  /* width: 100%; */
}

.article-clients-sources-source-rating {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  gap: 1em;
}

#article-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 0.7em 2.5em 0.7em 2.5em; */
  background-color: lightgray;
}

#article-subscribe-form > form {
  display: flex;
}

#article-icons {
  display: flex;
  justify-content: center;
  gap: 3em;
  /* padding: 0.7em 2.5em 0.7em 2.5em; */
  background-color: lightyellow;
}

#site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 0.7em 2.5em 0.7em 2.5em; */
  background-color: lightgray;
}

#site-footer-top-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: lightgray;
  /* text-align: end; */
}

#site-footer-mid-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 2.5em 0.7em 2.5em;
  background-color: lightgray;
  /* text-align: end; */
}