@model IEnumerable<ProductViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-group">
    @foreach (var product in Model)
    {
        <div class="card col-md-3">
            <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <p class="card-text">@(product.Price) лв.</p>
            </div>
        </div>
    }
</div>

@* <script>
    async function deleteProduct(e) {
        e.preventDefault();
        const result = await Swal.fire({
            title: 'Изтриване на артикул',
            text: 'Сигурни ли сте, че искате да изтриете този артикул?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Да, изтрий!',
            cancelButtonText: 'Отказ'
        });

        if (result.isConfirmed) {
            await Swal.fire(
                'Изтрит!',
                'Артикулът е изтрит успешно.',
                'success'
            );
            e.target.closest('form').submit();
        }
    }
</script> *@