@model ProductViewModel;


<div class="card">

    <a asp-controller="Product" asp-action="About" asp-route-id="@Model.Id">
        <div class="card-img-container">
            <img src="@Model.ImageUrl"
                 alt="Product Image" />
        </div>
    <div class="card-label-container">
        <p>@Model.Name</p>
        <p class="card-label-container-price">@(Model.Price) лв.</p>
    </div>
    </a>

</div>