<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="font-main w-screen bg-white">
    <partial name="_ToastrAlertMessagesPartial" />
    <div class="flex min-h-screen w-full flex-col">
        <header class="flex flex-col pb-5">
            <div class="bg-black">
                <div class="flex gap-5 bg-black px-10 py-4 text-neutral-200">
                    <div class="bg-200% animate-gradient flex items-center bg-gradient-to-r from-purple-400 via-pink-400 to-pink-400 bg-clip-text font-mono text-4xl text-transparent">
                        <a asp-controller="Home" asp-action="Index">WebStore</a>
                    </div>
                    <div class="flex-shrink-0 relative flex flex-grow basis-64 content-stretch items-center gap-5 self-center">
                        <div class="w-full text-black">
                            <input class="w-full px-3 py-1.5 outline-none" type="text" placeholder="Търси парфюм, марка..." />
                        </div>
                        <div id="search-icon" class="absolute right-3 text-fuchsia-500">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <div class="flex justify-end gap-6 font-semibold">

                        @if (User.Identity?.IsAuthenticated ?? false)                                                                                @*use login partial here*@
                        {                                                                                                                            @*use login partial here*@
                            @if (User.IsInRole("Administrator"))                                                                                     @*use login partial here*@
                            {                                                                                                                        @*use login partial here*@
                                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="flex flex-col items-center gap-1 text-red-500">
                                    @*use login partial here*@
                                    <i class="fa-solid fa-briefcase"></i>                                                                            @*use login partial here*@
                                    <p class="">Админ</p>                                                                                             @*use login partial here*@
                                </a>                                                                                                                 @*use login partial here*@
                                @*use login partial here*@
                            }                                                                                                                        @*use login partial here*@
                            <a class="flex flex-col items-center gap-1" href="#">
                                @*use login partial here*@
                                <div id="cart" class="relative flex">
                                    @*use login partial here*@
                                    @*use login partial here*@
                                    @* <p class="absolute right-2.5 top-1.5 rounded-3xl bg-pink-400 px-1.5 py-0 text-xs font-bold">3</p> *@          @*use login partial here*@
                                    <i class="fa-solid fa-cart-shopping"></i>                                                                        @*use login partial here*@
                                </div>                                                                                                               @*use login partial here*@
                                <p>Количка</p>                                                                                                       @*use login partial here*@
                            </a>                                                                                                                     @*use login partial here*@
                            <a asp-controller="Account" asp-action="Logout" class="flex flex-col items-center gap-1">
                                @*use login partial here*@
                                <i class="fa-solid fa-right-from-bracket"></i>                                                                       @*use login partial here*@
                                <p>Изход</p>                                                                                                         @*use login partial here*@
                            </a>                                                                                                                     @*use login partial here*@
                        }                                                                                                                            @*use login partial here*@
                        else                                                                                                                         @*use login partial here*@
                        {                                                                                                                            @*use login partial here*@
                            <a asp-controller="Account" asp-action="Login" class="flex flex-col items-center gap-1">
                                @*use login partial here*@
                                <i class="fa-solid fa-user"></i>                                                                                     @*use login partial here*@
                                <p>Вход</p>                                                                                                          @*use login partial here*@
                            </a>                                                                                                                     @*use login partial here*@
                        }                                                                                                                            @*use login partial here*@
                    </div>
                </div>
            </div>
        </header>

        <main class="w-main-width flex-grow self-center bg-white py-10">
            @RenderBody()
        </main>
        <footer class="flex w-screen justify-center bg-black py-10 text-neutral-200">
            <div class="w-main-width flex flex-col gap-14">

                <div>
                    <p>&copy; @(DateTime.UtcNow.Year) Всички права запазени</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        toastr.options = {
            "preventDuplicates": true,
        };
    </script>
    <script>
        document.getElementById("search-icon").onclick = function (e) {
            var input = e.currentTarget.previousElementSibling.children[0].value;
            var minSearchLength = 2;

            if (input.length < minSearchLength) {
                toastr.warning(`Моля, въведете поне ${minSearchLength} символа`);
                return;
            }

            if (input) {
                window.location.href = `/Product/Index?search=${input}`;
            }
        };
    </script>
    <script>
        if (localStorage.getItem("cart")) {
            let cartWrapper = document.getElementById("cart");
            let cartItemsCount = JSON.parse(localStorage.getItem("cart")).length
            let itemsCountElement = document.createElement("p");
            itemsCountElement.textContent = cartItemsCount;
            itemsCountElement.classList.add("absolute", "right-2.5", "top-1.5", "rounded-3xl", "bg-purple-500", "px-1.5", "py-0", "text-xs", "font-bold");
            cartWrapper.appendChild(itemsCountElement);
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
