<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="w-site-width font-main m-auto flex justify-center bg-gradient-to-br from-pink-300 to-blue-500">
    <partial name="_ToastrAlertMessagesPartial" />
    <div class="flex w-full flex-col gap-40 rounded-lg bg-white px-8 py-4">
        <header class="flex flex-col gap-20">
            <div class="flex justify-between rounded-b-lg bg-pink-400 px-8 py-1">
                <p>
                    Избери перфектния подарък с до -40% и ОЩЕ -10% с код LOVE над 140
                    лв! ❤️
                </p>
                <p>+359 88 8888888</p>
            </div>
            <div class="grid-cols-3 grid">
                <div class="flex items-center font-mono text-4xl">
                    <a asp-controller="Home" asp-action="Index">WebStore</a>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <div>
                        <input class="outline-none" type="text" placeholder="Търси..." />
                    </div>
                    <div id="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="flex justify-end gap-6">

                    @if (User.Identity?.IsAuthenticated ?? false)                                                                                @*use login partial here*@
                    {                                                                                                                            @*use login partial here*@
                        @if (User.IsInRole("Administrator"))                                                                                     @*use login partial here*@
                        {                                                                                                                        @*use login partial here*@
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="flex flex-col items-center gap-1">
                                @*use login partial here*@
                                <i class="fa-solid fa-briefcase"></i>                                                                            @*use login partial here*@
                                <p>Администратор</p>                                                                                             @*use login partial here*@
                            </a>                                                                                                                 @*use login partial here*@
                            @*use login partial here*@
                        }                                                                                                                        @*use login partial here*@
                        <a class="flex flex-col items-center gap-1" href="#">
                            @*use login partial here*@
                            <div id="cart" class="relative flex">
                                @*use login partial here*@
                                @*use login partial here*@
                                @* <p class="absolute right-2.5 top-1.5 rounded-3xl bg-pink-400 px-1.5 py-0 text-xs font-bold">3</p> *@          @*use login partial here*@
                                <i class="fa-solid fa-cart-shopping"></i>                                                                        @*use login partial here*@
                            </div>                                                                                                               @*use login partial here*@
                            <p>Количка</p>                                                                                                       @*use login partial here*@
                        </a>                                                                                                                     @*use login partial here*@
                        <a asp-controller="Account" asp-action="Logout" class="flex flex-col items-center gap-1">
                            @*use login partial here*@
                            <i class="fa-solid fa-right-from-bracket"></i>                                                                       @*use login partial here*@
                            <p>Изход</p>                                                                                                         @*use login partial here*@
                        </a>                                                                                                                     @*use login partial here*@
                    }                                                                                                                            @*use login partial here*@
                    else                                                                                                                         @*use login partial here*@
                    {                                                                                                                            @*use login partial here*@
                        <a asp-controller="Account" asp-action="Login" class="flex flex-col items-center gap-1">
                            @*use login partial here*@
                            <i class="fa-solid fa-user"></i>                                                                                     @*use login partial here*@
                            <p>Вход</p>                                                                                                          @*use login partial here*@
                        </a>                                                                                                                     @*use login partial here*@
                    }                                                                                                                            @*use login partial here*@
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
        <article>
            <div class="flex flex-col items-center gap-7">
                <div class="text-center text-2xl">
                    <p>
                        Абонирайте се за нашия бюлетин и получавайте <br />
                        ексклузивни намаления, новини и <br />
                        промокодове за отстъпка!
                    </p>
                </div>
                <div>
                    <form class="flex flex-col gap-4" action="#">
                        <div class="flex flex-col items-start gap-2">
                            <label class="text-xs italic" for="subscribe-newsletter">Имейл *</label>
                            <input class="rounded-r-xl bg-gray-100 px-5 py-2 outline-none"
                                   id="subscribe-newsletter"
                                   type="email"
                                   placeholder="Въведи своя имейл" />
                        </div>
                        <div class="text-center">
                            <button class="rounded-2xl bg-lime-300 px-5 py-1 text-sm font-semibold hover:bg-lime-400">
                                Абонирай ме!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
        <article class="flex justify-center gap-12">
            <div class="flex flex-col items-center gap-2">
                <div class="text-xl">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div>
                    <p>Експресна Доставка</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-2">
                <div class="text-xl">
                    <i class="fa-solid fa-clipboard-check"></i>
                </div>
                <div>
                    <p>Безплатна Застраховка</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-2">
                <div class="text-xl">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <div>
                    <p>Подарък при всяка поръчка</p>
                </div>
            </div>
            <div class="flex flex-col items-center gap-2">
                <div class="text-xl">
                    <i class="fa-solid fa-headset"></i>
                </div>
                <div>
                    <p>Безплатна Консултация</p>
                </div>
            </div>
        </article>

        <footer class="flex flex-col items-center">
            <div class="flex w-full justify-between">
                <div>
                    <h2>Информация</h2>
                    <ul>
                        <li><a href="#">За нас</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Плащане</a></li>
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">Общи условия</a></li>
                    </ul>
                </div>
                <div>
                    <h2>За Контакт</h2>
                    <p>Телефон: +359 88 8888888</p>
                    <p>Имейл: office@webstore.com</p>
                    <p>Адрес: гр. София, ул. "Търговска" 22222</p>
                    <p>Работно време: 9:00 - 17:00</p>
                    <div class="text-xl">
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <p>&copy; @(DateTime.UtcNow.Year) Всички права запазени</p>
            </div>
        </footer>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script>
        toastr.options = {
            "preventDuplicates": true,
        };
    </script>
    <script>
        document.getElementById("search-icon").onclick = function (e) {
            var input = e.currentTarget.previousElementSibling.children[0].value;
            var minSearchLength = 2;

            if (input.length < minSearchLength) {
                toastr.warning(`Моля, въведете поне ${minSearchLength} символа`);
                return;
            }

            if (input) {
                window.location.href = `/Product/Index?search=${input}`;
            }
        };
    </script>
    <script>
        if (localStorage.getItem("cart")) {
            let cartWrapper = document.getElementById("cart");
            let cartItemsCount = JSON.parse(localStorage.getItem("cart")).length
            let itemsCountElement = document.createElement("p");
            itemsCountElement.textContent = cartItemsCount;
            itemsCountElement.classList.add("absolute", "right-2.5", "top-1.5", "rounded-3xl", "bg-pink-400", "px-1.5", "py-0", "text-xs", "font-bold");
            cartWrapper.appendChild(itemsCountElement);
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
