@using Microsoft.AspNetCore.Identity
@using WebStore.Infrastructure.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="header-mid-options">

@if (SignInManager.IsSignedIn(User))
{
        <a asp-controller="Accounts" asp-action="Login" id="header-mid-options-login">
            <i class="fa-solid fa-user"></i>
            <p>Профил</p>
        </a>
        <a href="#" id="header-mid-options-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Количка</p>
        </a>
        <a asp-controller="Accounts" asp-action="Logout" id="header-mid-options-login">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p>Изход</p>
        </a>
}
else
{
        <a asp-controller="Accounts" asp-action="Login" id="header-mid-options-login">
            <i class="fa-solid fa-user-secret"></i>
            <p>Вход</p>
        </a>
        <a href="#" id="header-mid-options-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Количка</p>
        </a>
}
</div>
