<div>
    <ul>
        <li>
            <a asp-controller="Account" asp-action="Orders">Order History</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="Address">Add/Change address</a>
        </li>
    </ul>
</div>